$pc_screen_resolution : 980px;
$tablet_resolution : 760px;
$smartwatch_resolution: 280px;

.grid {
    > div{
        float: left;
        min-height: 1px;
        text-align: center;
    }

};

@mixin smartwatch {
    @media screen and (min-width: $smartwatch_resolution) {
        @content
    }
};

@include smartwatch{
    .grid {
        > .col-md-4{
            width: 33.33%;
        }

        > .col-12 {
            width: calc(100% / 1);
            background-color: springgreen;
            
        }
        >  .col-6 {
            width: calc(100% / 2);
            background-color: lavenderblush;
          }
        >  .col-4 {
            width: calc(100% / 3);
            background-color: lightcoral;
          }
        > .col-3 {
            width: calc(100% / 4);
            background-color: lightskyblue;
          }
        >  .col-2 {
            width: calc(100% / 6);
            background-color: gainsboro;
          }
        > .col-1 {
            width: calc(100% / 12);
            background-color: burlywood;  
          }
    }
};

@mixin tablet {
    @media screen and (min-width: $tablet_resolution) {
        @content
    }
};

@include tablet{
    .grid {
        > .col-12 {
            width: calc(100% / 1);
            background-color: orchid;
            
        }
        >  .col-6 {
            width: calc(100% / 2);
            background-color: rgba(84, 230, 132, 0.733);
          }
        >  .col-4 {
            width: calc(100% / 3);
            background-color: teal;
          }
        > .col-3 {
            width: calc(100% / 4);
            background-color: darkmagenta;
          }
        >  .col-2 {
            width: calc(100% / 6);
            background-color: firebrick;
          }
        > .col-1 {
            width: calc(100% / 12);
            background-color: olivedrab;  
          }
    }
};



@mixin pc_screen {
    @media screen and (min-width: $pc_screen_resolution) {
        @content
    }
};

@include pc_screen{
    .grid {
        > .col-12 {
            width: calc(100% / 1);
            background-color: cornflowerblue;
            
        }
        >  .col-6 {
            width: calc(100% / 2);
            background-color: cornsilk;
          }
        >  .col-4 {
            width: calc(100% / 3);
            background-color: skyblue;
          }
        > .col-3 {
            width: calc(100% / 4);
            background-color: orangered;
          }
        >  .col-2 {
            width: calc(100% / 6);
            background-color: goldenrod;
          }
        > .col-1 {
            width: calc(100% / 12);
            background-color: gray;  
          }
    }
};



